.container {
  max-width: 1025px;
  margin: 0 auto;
  text-align: center; }

.home {
  background: url("../img/header/home.png") no-repeat;
  background-size: cover; }

.header {
  display: flex;
  padding-top: 75px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }
  .header li {
    flex-direction: row; }
    .header li a {
      padding-left: 60px;
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
      .header li a:hover {
        color: #000; }
    .header li img {
      padding-left: 60px; }

.text-home {
  padding-top: 245px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }
  .text-home h1 {
    font-size: 36px;
    font-weight: 700; }
  .text-home p {
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 500; }

.button-a {
  background-color: #16a085;
  padding: 20px 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  border: 3px solid #16a085;
  border-radius: 3px; }
  .button-a:hover {
    background-color: blue;
    border: 3px solid blue;
    color: #16a085;
    transition: 0.7s; }

.icons {
  padding-top: 220px;
  padding-bottom: 25px;
  text-align: center; }
  .icons img {
    padding-left: 15px; }

@media (max-width: 670px) {
  .header {
    padding-top: 20px;
    display: flex;
    flex-direction: column; }
    .header li {
      padding-top: 15px; }
      .header li a, .header li img {
        padding-left: 0; } }
